fastapi==0.115.12
uvicorn[standard]==0.34.2
python-dotenv==1.1.0
line-bot-sdk==3.16.1
httpx==0.28.1
typhoon-ocr
gspread==6.2.0
google-auth==2.40.2
google-cloud-vision
boto3>=1.34
pandas>=2.2
matplotlib>=3.9
pillow>=10.4
pytest>=8.0
